[Unit]
Description=Le plus bot du monde
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/taemin
ExecReload=/bin/kill -HUP $MAINPID
User=taemin
TimeoutStopSec=3
Restart=always

[Install]
Alias=taemin
WantedBy=multi-user.target
